body
{
    background-image: url('../images/dept.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
h2,h1
{
    color: deepskyblue;
}
input[type="text"],input[type='number'],select
        {
            outline: none;
            border-radius: 10px;
        }
