{% extends 'dummy.html' %}
{% load static %}

{% block title%}
 <title>DEPARTMENTS</title>
{% endblock %}

{% block body_block  %}
<link rel="stylesheet" href="{% static 'css/c3.css' %}">

 <center>
   <h1>OFFICE DEPARTMENT MANAGEMENT SYSTEM</h1>
   <hr>
    <a class="btn btn-primary mt-3" href="{% url 'all_dept' %}"><b>VIEW ALL DEPARTMENTS</b></a><br>
    <a class="btn btn-primary mt-5" href="{% url 'add_dept' %}"><b>ADD DEPARTMENTS</b></a><br>
    <a class="btn btn-danger mt-5" href="{% url 'remove_dept' %}"><b>REMOVE DEPARTMENT</b></a>
 </center> 


{% endblock %}

